{
  "presets": [
    "react",
    ["env", {
      "useBuiltIns": true,
      "modules": false,
      "loose": true,
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    "transform-regenerator",
    "transform-flow-strip-types",
    "transform-decorators-legacy",
    "transform-function-bind",
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread"
  ]
}
